
// ===== COLOR ======== //
// bs-color überschreiben
$primary:   #4FB5B9;
$secondary: #6C4FB9;

/*
Originalfarben:
$primary:   
$secondary: 
$success:
$info:
$warning:
$danger:
$light:
$dark:
*/

// ====== TYPOGRAPHY ====== //
$font-family-sans-serif:    "Aladin", sans-serif;
